.rodape{
    background-color: var(--verde);
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 2em;
    position: fixed;
    top: 88%
}

.rodape__texto{
    font-family: var(--kanit);
    color: var(--branco);
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.rodape__texto p{
    margin: 0;
}
