.coluna {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginText {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

button {
    width: 450px;
}

.createText {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #acacac;
}