.buttonbox .padrao {
    height: 40px;
    width: 100px;
    border-radius: 35px;
    margin: 10px 12px;
    background-color: white;
    font-family: 'Kanit';
    font-size: 15px;
    border: 3px solid #dcdcdc;
}

.buttonbox .btn-vermelho {
    height: 40px;
    width: 100px;
    border-radius: 35px;
    margin: 10px 12px;
    background-color: #ff0000;
    font-family: 'Kanit';
    font-size: 15px;
    border: none;
    color: white;
}

.buttonbox .btn-verde {
    height: 40px;
    width: 100px;
    border-radius: 35px;
    margin: 10px 12px;
    background-color: #26bb4b;
    font-family: 'Kanit';
    font-size: 15px;
    border: none;
    color: white;
}